/**
 * Globals
 */
a {
	text-decoration: none;
}
#wrapper {
	width: 1024px;
	margin: 0 auto;
	overflow: hidden;
}

#header {
	height: 50px;
	border-bottom: 1px solid #eee;
	line-height: 50px;
}

#logo  {
	width: 20%;
	float: left;
}
#logo  img {
	display: block;
	height: 40px;
	margin: 5px auto 0 auto;
}
.breadcrumbs {
	float: left;
}

#logout
{
	float: right;
}

#menu {
	float: left;
	width: 20%;
	padding: 20px;
	box-sizing: border-box;
}
#menu ul li > ul{
	display: none;
}
  #menu ul li.active > ul{
	  display: block;
  }

#content {
	float: left;
	width: 80%;
	padding: 20px;
	box-sizing: border-box;
	border-left: 1px solid #eee;
	min-height: 100%;
}

#footer {
	clear: both;
	border-top: 1px solid #eee;
	background: #FBFBFB;
	padding: 10px;
	box-sizing: border-box;
	overflow: hidden;
	font-size: 12px;
	color: grey;
}
#footer .product {
	float: left;
}

#footer .company {
	float: right;
}
#footer a,
#footer a:hover {
	color: inherit;
}

/**
 * Tables
 */
table.list {
	width: 100%;
	border-collapse: collapse;
	
} 
table.list  th,
table.list td {
	border-bottom: 1px solid #ddd;
	text-align: left;
	padding: 3px;
}
table.list tr:hover {
	background-color: #f5f5f5
}
table.list tr.odd {
	background-color: #F9F9F9;
}

/**
 * Forms (dynamic)
 */
.field  label:first-child {
	display: inline-block;
	width: 150px;
}

.field input[type="text"],
.field select,
.field textarea {
	width: 350px;
	border: 1px solid grey;
}

.field  label > input[type="checkbox"] {
	display: block;
}

/**
 * Renderers
 */
.rndrr-active-yes
{
	border-radius: 10px;
	width: 50px;
	display: inline-block;
	text-align: center;
	color: white;
	background-color: green;
	
}
.rndrr-active-no
{
	border-radius: 10px;
	width: 50px;
	text-align: center;
	display: inline-block;
	color: white;
	background-color: red;
}
 

